/* Custom Portfolios */
.postid-293 .post-media {
	background-color: #f5654a;
}

.postid-291 .post-media {
	background-image: url(http://demo.themezilla.com/sparks/files/2013/07/cartographer.png);
	background-repeat: repeat;
	background-position: top left;
	background-color: #f0eee8;
}

.postid-265 .post-media {
	background-color: #e8d0a4;
}

.postid-255 .post-media {
	background-color: #d8dc7d;
}

.postid-231 .post-media {
	background-color: #f23e2f;
}

.postid-226 .post-media {
	background-color: #26c8a1;
}

.postid-219 .post-media {
	background-color: #303940;
}

.postid-208 .post-media {
	background-color: #c1d4c7;
}

.postid-189 .post-media {
	background-image: url(http://demo.themezilla.com/sparks/files/2013/07/surfgirl-blur2.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #ffffff;
}

.postid-160 .post-media {
	background-image: url(http://demo.themezilla.com/sparks/files/2013/07/dark-bg1.gif);
	background-repeat: repeat;
	background-position: top left;
	background-color: #232527;
}

.postid-157 .post-media {
	background-color: #fcc71f;
}

